// accueil
.hero-title {
	font-size: 1.7rem;
	line-height: 1.2;
}
.hero-lead {
	font-size: 0.9rem;
}
.cta-btns {
	margin-top: 16px;
}
a.hero-cta-alt:active,
a.hero-cta-alt:focus,
a.hero-cta-alt:hover {
	transform: none;
}

// général
html {
  scroll-behavior: smooth;
}
body {
	font-size: 0.9rem;
}
h1 {
	font-size: 1.7rem;
}

// footer
footer {
	margin: 4rem 0 1rem;
}

// tableaux d'information
.article-container > div.row div.col-md-10 {
	border-bottom: 1px solid grey;
}
#activites-bouton {
	padding-left: 0.5rem;
	padding-bottom: 1.25rem;
}
