{{ if .IsTranslated | and site.Params.footer.show_translations }}
<div class="powered-by d-flex flex-wrap pb-2 justify-content-center">
  <div class="p-2 font-weight-bold"><i class="fas fa-globe pr-1" aria-hidden="true"></i>{{ i18n "languages" }}:</div>
  <div class="p-2">{{ index site.Data.i18n.languages .Lang }}</div>
  {{ range .Translations }}
  <div class="p-2"><a href="{{ .Permalink }}">{{ index site.Data.i18n.languages .Lang }}</a></div>
  {{ end }}
</div>
{{ end }}

{{ if or (site.GetPage "/terms.md") (site.GetPage "/privacy.md") }}
<p class="powered-by">
  {{ with site.GetPage "/privacy.md" }}
  {{ printf "<a href=\"%s\">%s</a>" .RelPermalink .Title | safeHTML }}
  {{ end }}
  {{ with site.GetPage "/terms.md" }}
  {{ if site.GetPage "/privacy.md" }} &middot; {{ end }}
  {{ printf "<a href=\"%s\">%s</a>" .RelPermalink .Title | safeHTML }}
  {{ end }}
</p>
{{ end }}

{{ with site.Params.footer.text }}
<p class="powered-by">
  {{ . | markdownify | emojify }}
</p>
{{ end }}
<style>
  .footer-large {
    font-size: 16px
  }

  .footer-large h5 {
    font-size: 16px
  }
</style>
{{- $currentPage := . }}
<div class="container px-4 px-md-3 footer-large">
  <div class="row">
    <div class="col-lg-3 mb-3">
      <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="{{ $.Site.Params.baseURL | relLangURL}}" aria-label="ATPHQC">
        <span class="fs-5" style="font-weight: 700;">Analyse de textes philosophiques québécois assistée par ordinateur</span>
      </a>
Un groupe de recherche associé au <a href="https://www.lanci.uqam.ca" target="_blank" rel="noopener">Laboratoire d’ANalyse Cognitive de l’Information (LANCI)</a>.
    </div>
    <div class="col-6 col-lg-2 offset-lg-1 mb-3">
      <h5>Menu</h5>
      <ul class="list-unstyled">
        {{- range site.Menus.main }}
        {{- $menu_item_url := (cond (strings.HasSuffix .URL "/") .URL (printf "%s/" .URL) ) | absLangURL }}
        {{- $page_url:= $currentPage.Permalink | absLangURL }}    
        <li class="mb-2"><a href="{{ .URL | relLangURL }}">{{- .Name -}}</a></li>
        {{- end }}
      </ul>
    </div>
    <div class="col-6 col-lg-2 mb-3">
      <h5>Abonnements</h5>
      <ul class="list-unstyled">
        {{- range site.Menus.abonnements }}
        {{- $menu_item_url := (cond (strings.HasSuffix .URL "/") .URL (printf "%s/" .URL) ) | absLangURL }}
        {{- $page_url:= $currentPage.Permalink | absLangURL }}    
        <li class="mb-2"><a href="{{ .URL | relLangURL }}/index.xml"><i class="fas fa-rss-square mr-1"></i>{{- .Name -}}</a></li>
        {{- end }}
      </ul>
    </div>
  </div>
</div>
{{/* Display copyright license. */}}
{{ partial "site_footer_license" . }}